# KubeArmor is an open source software that enables you to protect your cloud workload at run-time.
# To learn more about KubeArmor visit: 
# https://www.accuknox.com/kubearmor/ 

apiVersion: security.kubearmor.com/v1
kind: KubeArmorPolicy
metadata:
  name: ksp-restrict-access-mysql-server-config
  namespace: default # Change your namespace
spec:
  tags: ["mysql", "MITRE", "system"]
  message: "Warning! someone tried access the MySQL server config file"
  selector:
    matchLabels:
      pod: ubuntu      #change the labels
  file:
    severity: 5      # medium severity
    matchPaths:
    - path: /etc/mysql/my.cnf
      ownerOnly: true
    action: Block
